<html>
  <body>
    <p>Now that you've answered the chart, share it with a friend and see what you two have in common! Send them <a href="/view/{{ id }}">this link</a> They will need a password, which is {{ write_pass }}. In order to see the results once they are done, you will need your own password, which is {{ read_pass }}.
  </body>
</html>
