<html>
  <body>
    <center>
      <p>Created at ID {{ id }}! Click <a href="/create">here</a> to create another one, or <a href="/session">here</a> to start a session!</p>
    </center>
  </body>
</html>
