<html>
  <body>
  <center>
  <h1>{{ title }}</h1>
  <h3>{{ description }}</h3>
  <br>
  <form id="form">
  {{ #each opinions }}
    <input type="checkbox" name="{{ this }}"><label>{{ this }}</label>
    <br>
  {{ /each }}
  <hr>
  </form>
  <button id="submit">Submit</button>
  </center>
  <script>
    document.getElementById("submit").onclick = _ => {
      let result = Array.from(document.getElementById("form").elements)
      .map(check => check.checked)
      let xml = new XMLHttpRequest()
      xml.open("POST", "/view/" + location.href.split("/").pop() , false)
      xml.setRequestHeader("Content-Type", "application/json")
      xml.send(JSON.stringify(result))
      document.getElementsByTagName("html")[0].innerHTML = xml.response
    }
  </script>
  </body>
<html>

